* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: #cbd5f5;
    font-weight: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icons {
    display: flex;
    gap: 14px;
}

.nav-icons a {
    text-decoration: none;
    font-size: 20px;
    padding: 6px 8px;
    border-radius: 8px;
    transition: 0.2s;
}

.nav-icons a:hover {
    background: #38bdf8;
}

.hero {
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-left {
    width: 50%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1 {
    font-size: 64px;
}

.hero-left h1 .highlight {
    color: #38bdf8;
    text-shadow: 0 0 10px rgba(56, 189, 248, 0.6);
}

.hero-left h2 {
    font-size: 32px;
    margin: 10px 0;
    color: #38bdf8;
    min-height: 40px;   
}

.typing {
    display: inline-block;
    min-width: 260px;   
    white-space: nowrap;
}

.hero-left p {
    max-width: 500px;
    margin-top: 20px;
    opacity: 0.8;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.hero-buttons button,
.hero-buttons .download-btn {
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background: #38bdf8;
    color: black;
    text-decoration: none;
}

.hero-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 560px;
    height: 560px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(56, 189, 248, 0.6);
    box-shadow: 0 0 40px rgba(56, 189, 248, 0.6);
}

.about {
    min-height: 100vh;
    padding: 120px 80px;
    background: linear-gradient(135deg, #020617, #0f172a);
}

.about h1 {
    font-size: 48px;
}

.about p {
    margin-top: 20px;
    max-width: 600px;
}

.cards {
    display: flex;
    gap: 20px;
    margin: 50px 0;
}

.card {
    padding: 30px;
    background: #0f172a;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    background: #020617;
}

.stack-box {
    margin: 40px auto 0 auto;
    padding: 30px;
    background: #0f172a;
    border-radius: 12px;
    max-width: 600px;

    display: none;
    opacity: 0;
    text-align: center;
}

.stack-box.show {
    display: block;
    opacity: 1;
}

#stackContent {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    text-align: center;
}

.stack-tag {
    padding: 8px 14px;
    background: rgba(56, 189, 248, 0.15);
    border-radius: 20px;
    font-size: 14px;
    color: #cbd5f5;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.project {
    padding: 40px;
    background: #0f172a;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.project-box {
    margin: 40px auto 0 auto;
    padding: 30px;
    background: linear-gradient(135deg, #020617, #0f172a);
    border-radius: 16px;
    max-width: 800px;

    display: none;
    opacity: 0;
    text-align: center;
    border: 1px solid rgba(56, 189, 248, 0.2);
}

.project-box.show {
    display: block;
    opacity: 1;
}

.project-desc {
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.9;

    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}


.project-stack {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.project-tag {
    padding: 8px 14px;
    background: rgba(56, 189, 248, 0.15);
    border-radius: 20px;
    font-size: 14px;
    color: #cbd5f5;
}

.project-title {
    color: #38bdf8;
    margin-bottom: 12px;
    font-size: 26px;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}