
:root {

    --primary-family : #f9f7fa;
    --Reviewer-color : #522050; 
    --Review-up-color :#8d818b;
    --Star-r-color : #f7f2f7;
    --Quote-color : #4f184c;
    --font-family : "Archivo Black", sans-serif;
}

body {
    background-color: var(--primary-family);
}

.Quote {
    font-family: var(--font-family );
    color: var(--Quote-color);
    font-weight: 600; 
    width: 300px;
    font-size: 15px;
}

.upper-review {
    color: var(--Review-up-color);
    width:300px;

}

.container {
    background-color: var(--primary-family);
    display: flex ;
    flex-direction: column;
    height : 100vh;
    padding: 100px 100px 100px 100px;
}

.Part {
    flex: 1;
}

.Half{
    flex : 1;
}

left {
    position: absolute;
    left : 20px
    

} 

.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f7f2f7;
}

.lower{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var( --primary-family);
}

.Review {
    background-color: var( --Reviewer-color) ;
    color: white;
    padding: 2em;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.right p {
    margin: 0;
}

.Star1Righting {
    margin-right: 20px;
}

.Review h1 {
    font-family: var(--font-family );
    font-weight: 600; 
    font-size: 15px;
}

.Review p {
    font-size: 15px;
    color: lightgray;
}
.Review h2 {
     
    font-size: 15px;
    color: violet;
}

.Rating {
    display: flex;
    gap: 30px;
    background-color: #ffffff;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    color: darkmagenta;
    font-family: var(--font-family);
    font-size: 15px;
}

@media (min-width: 751px) {
    
    .container{
       flex-direction: column;
    }
}